/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

#wrapper{
  margin-top: 40px;
}

#wrapper_admin{
  margin-top: 50px;
}

.wrapper{
  position: relative;

  &.autorize{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('login_bg.jpg');
    background-size: cover;
    background-position: center;
  }
}

#login_box{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -115px;
  margin-left: -110px;
  height: 230px;
  width: 220px;
  padding: 10px;
  background-color: rgba(#000, 0.20);
  // border: 2px solid #eee;
}

#mapsGoogle {
  height: 615px;
  width: 100%;
  img {
    max-width: none;
  }
}

#maps_form {
  height: 400px;
  width: 100%;
  img {
    max-width: none;
  }
}

#directionsPanel{
  height: 420px;
  overflow: auto;
}

img.adp-marker{
  margin-right: 30px;
}

.content-map{
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.side-menu{
  margin-left: -10px;
  margin-top: 10px;
  margin-right: -10px;

  .accordion{
    margin-bottom: 0px;

    .accordion-group{
      border: none;
      border-radius: 2px; 
    };

    .accordion-inner{
      background: #eee;
      border: none;
    };

    .accordion-heading{
      background: #0064cd;
      border: none;
    };
  }
}

.the-navbar{
  .navbar-inner{
    background: #0064cd;
    box-shadow: none;
    border: none;
  };

  .brand{
    color: #222;
    text-shadow: none; 
  };

  ul.nav > li{
    > a{
      color: #222;
      text-shadow: none;

      &:hover{
        background: #fff;
      }
    };

    &.active > a{
      color: #222;
      text-shadow: none;
      background: #fff;
      box-shadow: none;

      &:hover{
        background: #fff;
        box-shadow: none;
      }
    };
  }
}

li.posisi-asal{
  h5{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #asal{
    min-height: 10px;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #c8c8c8;
  }
}

li.atm-tujuan{
  h5{
    margin-bottom: 0px;
  }

  ul#atmTerdekat{
    min-height: 10px;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #c8c8c8;

    li{
      padding-left: 5px;
      
      &:hover{
        background-color: #0064cd;
      }
    }
  }
}

li.jarak-atm{
  h5{
    margin-bottom: 0px;
  }
  
  h3#distance{
    margin-top: 0px;
    min-height: 10px;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #c8c8c8;
  }
}

li.radius-box{
  label h5{
    margin-bottom: 0px;
  }

  input[type="number"]{
    margin-top: -5px;
  }
}

.notification{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}