<div class="accordion-group">
  <div class="accordion-heading">
    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
      <b>Pencarian Rute</b>
    </div>
  </div>
  <div id="collapseTwo" class="accordion-body collapse">
    <div class="accordion-inner">
      <ul class="nav nav-pills nav-stacked">
        <li><h5>Lokasi: </h5><h5 id="asal"></h5></li>
        <li><h5>ATM Tujuan: </h5><h5 id="tujuan"></h5></li>
        <li><h5>Jarak ke ATM: </h5><h3 id="distance"></h3></li>
        <li>
          <center>
            <button id="showRoute" class="btn btn-primary btn-large" type="button">
              Cari Rute
            </button>
          </center>
        </li>
      </ul>
      <input type="text" id="latAsal" name="latasal" style="display:none;" />
      <input type="text" id="lngAsal" name="lngasal" style="display:none;" />

      <input type="text" id="latTujuan" name="lattujuan" style="display:none;" />
      <input type="text" id="lngTujuan" name="lngtujuan" style="display:none;" />
    </div>
  </div>
</div>