<div class="accordion-group">
  <div class="accordion-heading">
    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
      <b>Detail Rute</b>
    </div>
  </div>
  <div id="collapseThree" class="accordion-body collapse">
    <div class="accordion-inner">
      <div id="directionsPanel"></div>
    </div>
  </div>
</div>