<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">Find ATMs</div>
      <ul class="nav pull-right">
        <li class="active"><%= link_to "Home", home_path %></li>
        <li><%= link_to "Admin", admin_path %></li>
        <li><%= link_to "Anggara Putra", "#" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="well">
    <div id="mapsGoogle" style="height:440px;">
      <h3>Maps Here!</h3>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="well">
    <h4>Bottom Menu</h4>
  </div>
</div>