<script type="text/javascript">
  //global variable
    var map = null;
    var infoWindow = new google.maps.InfoWindow;
    var center = new google.maps.LatLng(-8.67829132, 115.21475983);
    var geocoder;
  //end

  //initialize
    function initialize() {
      map = new google.maps.Map(document.getElementById("mapsGoogle"), {
        center              : center,
        zoom                : 12,
        disableDefaultUI    : true,
        mapTypeId           : 'roadmap',
      });

      //tampilkan marker ATM
        var urlnya = "home.json?bank_id=" + $("#home_bank_id").val()
        $.getJSON(urlnya, function(data) {
          for(var i=0; i<data.length; i++){
            var point = new google.maps.LatLng(parseFloat(data[i].lat),parseFloat(data[i].lng));
            var nama_atm = data[i].nama_atm;
            var nama_bank = data[i].nama_bank;
            var nama_lokasi = data[i].nama_lokasi;
            var kategori_atm = data[i].nama_kategori;
            var min_transaksi = data[i].nominal;
            // var id = data[i].id;
            var icon = data[i].icon;
            var html =  "<b>"+ nama_atm +"</b>"+
                        "<br/>Bank: <b>"+ nama_bank +"</b>"+
                        "<br/>Lokasi: <b>"+ nama_lokasi +"</b>"+
                        "<br/>Kategori: <b>"+ kategori_atm +"</b>"+
                        "<br/>Min Transaksi: <b>"+ min_transaksi +"</b>"+
                        "<hr size='1'>";

            var marker = new google.maps.Marker({
              map: map,
              position: point,
              // icon: "assets/atbank.png"
              icon: "assets/"+icon
            });
            
            InfoWindow(marker, map, infoWindow, html);
          };
        });

        //tampilkan infowindow setiap marker
          function InfoWindow(marker, map, infoWindow, html) {
            google.maps.event.addListener(marker, 'click', function() {
              infoWindow.setContent(html);
              infoWindow.open(map, marker);
              // map.setZoom(15);
              map.setCenter(marker.getPosition());
            });

            google.maps.event.addListener(map, 'click', function() {
              infoWindow.close();
            });
          };
        //end
      //end
    };
  //end

  $(document).ready(function(){
    $("#home_bank_id").on("change", function(){
      initialize();
    });

    //for address search
      function codeAddress() {
        geocoder = new google.maps.Geocoder();
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var koor = results[0].geometry.location;
            var markersrc = new google.maps.Marker({
              map: map,
              position: koor,
              title: 'My Position'
            });
            map.setCenter(koor);
            map.setZoom(15);
          } else {
              alert('Pencarian tidak berhasil! ' + status);
          }
        });
      }

      //button search function
        $('#btn_search').click(function() {
          codeAddress();
        });
      //end

      //this code for submit input text with enter button
        $('#address').on('keyup', function(e) {
          if (e.keyCode === 13) {
            $('#btn_search').click();
          }
        });
      //end
    //end

    //add location by sensor
      $("#getLocation").click(function() {
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              var markerpos = new google.maps.Marker({
                map: map,
                position: pos,
                title: 'My Position'
              });
              map.setCenter(pos);
          },  function() {
                handleNoGeolocation(true);
              });
        }   
        else {
          handleNoGeolocation(false);
        }
      });
    //end

  });

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">Find ATMs</div>
      <ul class="nav pull-right">
        <li class="active"><%= link_to "Home", home_path %></li>
        <li><%= link_to "Admin", admin_path %></li>
        <li><%= link_to "Anggara Putra", "#" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div id="mapsGoogle" class="well" style="height:440px;"></div>
</div>

<div class="row-fluid">
  <div class="well">
    <%= select("home", "bank_id", Bank.all.collect{ |x| [x.nama_bank, x.id] }, {}, { data: { :url => home_path }, class: "span3" }) %>

    <button id="getLocation" class="btn btn-primary" type="button" style="margin-top:-10px;">Cari Posisi</button>

    <div class="input-append">
      <input class="span10" id="address" type="text" name="address" value="" placeholder="Search for places">
      <button id="btn_search" class="btn" type="button">Search</button>
    </div>
  </div>
</div>