<div class="accordion-group">
  <div class="accordion-heading">
    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
      <b>Kontrol Peta</b>
    </div>
  </div>
  <div id="collapseZero" class="accordion-body collapse">
    <div class="accordion-inner">
      <ul id="mapControl" class="unstyled">
        <li>
          <button id="centerMap" class="btn btn-link" style="margin-left: -12px;"><i class='icon-home'></i> Center Map</button>
        </li>
        <li>
          <button id="reloadMap" class="btn btn-link" style="margin-left: -12px;"><i class='icon-refresh'></i> Reload Map</button>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" id="zoomControl" name="checkbox-peta"/>
            <label for="zoomControl">Zoom Control</label>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" id="panControl" name="checkbox-peta"/>
            <label for="panControl">Pan Control</label>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>