<div class="accordion-group">
  <div class="accordion-heading">
    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      <b>Tentukan Posisi</b>
    </div>
  </div>
  <div id="collapseOne" class="accordion-body collapse in">
    <div class="accordion-inner">
      <ul class="nav nav-list">
        <li>
          <label class="checkbox">
            <input type="checkbox" name="checkBox" id="checkBox"/>
            <label for="checkBox">Klik pada Peta!</label>
          </label>
        </li>
        <li class="nav-header">Atau</li>
        <li>
          <button id="getLocation" class="btn btn-primary" type="button">
            Dengan Web Location
          </button>
        </li>
        <li class="nav-header">Atau</li>
        <li>
          <div class="input-append">
            <input id="address" class="span10" type="text" name="address" value="" placeholder="Ketik alamat..">
            <button id="btn_search" class="btn" type="button">Cari</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>