<div class="accordion-group">
  <div class="accordion-heading">
    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      <b>Tentukan Posisi</b>
    </div>
  </div>
  <div id="collapseOne" class="accordion-body collapse in">
    <div class="accordion-inner">
      <ul class="nav nav-list">
        <li>
          <center>
            <button id="getLocation" class="btn btn-primary" type="button">
              Cari Posisi
            </button>
          </center>
        </li>
        <li class="divider"></li>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="checkBox" id="checkBox"/>
            <label for="checkBox">Set lokasi saat ini, klik pada Peta!</label>
          </label>
        </li>
        <li class="divider"></li>
        <li>
          <center>
            <div class="input-append">
              <input id="address" class="span10" type="text" name="address" value="" placeholder="Ketik alamat..">
              <button id="btn_search" class="btn" type="button">Cari</button>
            </div>
          </center>
        </li>
      </ul>
    </div>
  </div>
</div>