<ul class="nav nav-list">
  <li class="<%= 'active' if controller_name == 'banks' %>"><%= link_to "Tabel Bank", banks_path %></li>
  <li class="<%= 'active' if controller_name == 'lokasi_atms' %>"><%= link_to "Tabel ATM", lokasi_atms_path %></li>
</ul>